.grid__span50 { width: 50.00%; float: left; }
.grid__span33 { width: 33.33%; float: left; }

body {background: url("/lookingHOT/images/bg-960.jpg") top center no-repeat}

#intro {
	margin-top: 175px;
	min-height:740px;
}
#first-up {
	min-height: 780px;
}
#lets-begin {
	margin-top: 115px;
	.description {text-align:center;padding: 30px 150px;font-size:28px;line-height:38px;}
	a.start-making {margin-top:50px;}
	.start-welcome {
		font-size: 80px;
		line-height: 85px;
		span {font-size: 80px;line-height: 85px;}
	}
}
#step1{
	background: url("/lookingHOT/images/step1-bg.jpg") top center no-repeat;
	background-size: cover;
}
#step2,
#step3 {
	background: url("/lookingHOT/images/step2-bg.jpg") top center no-repeat;
	background-size: cover;
}
#step4 {
	background: url("/lookingHOT/images/step4-bg.jpg") top center no-repeat;
	.description {
		padding:20px 0 !important
	}
}
#step5{
	background: url("/lookingHOT/images/step5-bg.jpg") top center no-repeat;
	background-size: cover;
}
#lipsFour {
	min-height: 1140px;
}
#lipsFive {
	.tipr_content {width: 420px;}
}
.lips {
	margin-top: 100px;
	min-height: 700px;
	a.next {display:block;}
	.description {padding: 40px 0 !important;}
}
a.back {display:block}

.remodal {
	max-width: 700px;
	margin: 20px auto;
	min-height: 0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#footer {
	background: url("/lookingHOT/images/bg-footer.jpg") #79192d top center no-repeat;
	.grid__span25 {width: 25.00%;}
}

.spacing--top-bottom {margin: 30px 0 30px 30px;}
.no--padding {padding: 10px;}