/* ======================================
 BUILT IN CANBERRA, AUSTRALIA
 Front end Guru: Sam Brunno
 sammybmelbdj@gmail.com
========================================= */
/* ==|== variables ========================================================== */
/* ==|== colour ======================================================= */
/* ==|== colour config =================================================

- blacks, whites and greys can remain as variables, all blues
  need to be mixins so they can be overridden on the changes.

======================================================================== */
/* ==|== type ========================================================== */
/* ==|== layout ======================================================== */
/* ==|== sprites ======================================================= */
#intro .logo-welcome, #intro .logo, #intro .inputBox .submit, #intro .inputBox .fb-login, #intro .inputBox .twitter-login, #lets-begin .logo, #lets-begin a.start-making, .lips .heading, .lips a.cart.active span.tick, .lips span.tipr, .lips a.next, .lips .tooltip-info span.icon, a.back, #lipsFour a.coconut, #lipsFour a.vanilla, #lipsFour a.lemon, #lipsFour a.honey, #lipsFour a.passionfruit, #lipsFour a.orange, #lipsFour a.mango, #lipsFour a.peach, #lipsFour a.strawberry, #lipsFour a.watermelon, #lipsFour a.raspberry, #lipsFour a.bubblegum, #lipsFour a.spearmint, #lipsFour a.apple, #lipsFour a.chocolate, #lipsFive .start-again, #lipsFive .buyNowFinished, #footer .logo-container .logo, #footer a.social--links, .icon--small {
  background-image: url(/lookingHOT/images/sprite.png);
  background-size: 1000px 1100px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }
  .oldie #intro .logo-welcome, #intro .oldie .logo-welcome, .oldie #intro .logo, #intro .oldie .logo, .oldie #intro .inputBox .submit, #intro .inputBox .oldie .submit, .oldie #intro .inputBox .fb-login, #intro .inputBox .oldie .fb-login, .oldie #intro .inputBox .twitter-login, #intro .inputBox .oldie .twitter-login, .oldie #lets-begin .logo, #lets-begin .oldie .logo, .oldie #lets-begin a.start-making, #lets-begin .oldie a.start-making, .oldie .lips .heading, .lips .oldie .heading, .oldie .lips a.cart.active span.tick, .lips a.cart.active .oldie span.tick, .oldie .lips span.tipr, .lips .oldie span.tipr, .oldie .lips a.next, .lips .oldie a.next, .oldie .lips .tooltip-info span.icon, .lips .tooltip-info .oldie span.icon, .oldie a.back, .oldie #lipsFour a.coconut, #lipsFour .oldie a.coconut, .oldie #lipsFour a.vanilla, #lipsFour .oldie a.vanilla, .oldie #lipsFour a.lemon, #lipsFour .oldie a.lemon, .oldie #lipsFour a.honey, #lipsFour .oldie a.honey, .oldie #lipsFour a.passionfruit, #lipsFour .oldie a.passionfruit, .oldie #lipsFour a.orange, #lipsFour .oldie a.orange, .oldie #lipsFour a.mango, #lipsFour .oldie a.mango, .oldie #lipsFour a.peach, #lipsFour .oldie a.peach, .oldie #lipsFour a.strawberry, #lipsFour .oldie a.strawberry, .oldie #lipsFour a.watermelon, #lipsFour .oldie a.watermelon, .oldie #lipsFour a.raspberry, #lipsFour .oldie a.raspberry, .oldie #lipsFour a.bubblegum, #lipsFour .oldie a.bubblegum, .oldie #lipsFour a.spearmint, #lipsFour .oldie a.spearmint, .oldie #lipsFour a.apple, #lipsFour .oldie a.apple, .oldie #lipsFour a.chocolate, #lipsFour .oldie a.chocolate, .oldie #lipsFive .start-again, #lipsFive .oldie .start-again, .oldie #lipsFive .buyNowFinished, #lipsFive .oldie .buyNowFinished, .oldie #footer .logo-container .logo, #footer .logo-container .oldie .logo, .oldie #footer a.social--links, #footer .oldie a.social--links, .oldie .icon--small {
    background-image: url(/lookingHOT/images/sprite-small.png); }

.lips a.cart {
  background-image: url(/lookingHOT/images/spriteCircles.png);
  background-size: 1000px 1100px;
  background-repeat: no-repeat;
  display: block; }
  .oldie .lips a.cart, .lips .oldie a.cart {
    background-image: url(/lookingHOT/images/spriteCircles-small.png); }

/* add any sass mixins or variables here */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 21px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0px;
  padding: 0px; }

body {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: 0; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #5c5c5c; }

h1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  margin: 10px 0; }

h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  font-weight: 300; }

h3 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: 300; }

h4 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 18px; }

h5 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 20px; }

a {
  color: #00789a;
  background-color: transparent;
  text-decoration: none; }

a:visited {
  color: #00789a; }

a:hover {
  color: #00789a;
  text-decoration: underline; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 30px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: black;
  text-decoration: none; }

mark {
  background: #ff0;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px;
  font-size: 21px;
  line-height: 1.6em; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* no need to make updates here */
/* ======================================
    FONTS
========================================= */
.DIYTime-Hand {
  font-family: DIYTime-Hand;
  font-weight: normal;
  font-style: normal; }

/* ==|== GLOBAL ======================================================= */
h1, h2, h3, h4, h5 {
  font-family: DIYTime-Hand;
  font-weight: normal;
  font-style: normal; }

/* ==|== grid ============================================================= */
/*
12 column grid component
grid and span classes can be applied to any elements,
as long as span is the direct descendant of grid. */
.grid {
  overflow: hidden;
  margin: 0 0 0 -30px;
  padding: 0; }

.grid__row {
  overflow: hidden; }

[class*="span"] {
  list-style: none; }
  [class*="span"] > * {
    margin: 0 0 10px 30px; }

.grid__span100 {
  width: 100.00%;
  float: left; }

.grid__span75 {
  width: 100.00%;
  float: left; }

.grid__span50 {
  width: 100.00%;
  float: left; }

.grid__span33 {
  width: 100.00%;
  float: left; }

.grid__span25 {
  width: 100.00%;
  float: left; }

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: #0099FF solid 2px; }

body {
  background: url("/lookingHOT/images/bg-480.jpg") top center no-repeat; }

body.active {
  background: url("/lookingHOT/images/bg-960_active.jpg") #4bdb9e top center no-repeat; }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("/lookingHOT/images/loader.gif") center center no-repeat;
  top: 0;
  left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 5001; }

/* ==|== intro =================================================== */
#intro {
  min-height: 640px;
  margin-top: 50px;
  display: none; }
  #intro .logo-container {
    margin: 0px 0 0px 30px;
    position: relative;
    text-align: center; }
  #intro .logo-welcome {
    width: 250px;
    height: 70px;
    text-align: center;
    margin: 0 auto; }
  #intro .logo {
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    background-position: 0px -108px;
    margin-top: 20px; }
  #intro label.error {
    color: #dd1212;
    display: block;
    margin: 0px 30px 0px 30px;
    position: relative;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  #intro .inputBox {
    width: 100%;
    margin: 30px 0 0px 15px;
    position: relative;
    text-align: center; }
    #intro .inputBox .enter-name {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 28px;
      border: 0px;
      background-color: transparent;
      color: #a0a0a0;
      font-weight: 300;
      outline: none;
      display: inline;
      position: relative;
      text-align: center;
      margin: 0 auto; }
    #intro .inputBox .submit {
      width: 70px;
      height: 70px;
      text-align: center;
      background-color: transparent;
      border: 0px;
      background-position: -275px -109px;
      margin: 20px auto; }
    #intro .inputBox .or {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 28px;
      color: #a0a0a0;
      font-weight: 300;
      margin: 20px auto; }
    #intro .inputBox .fb-login {
      width: 230px;
      height: 45px;
      background-position: -274px 0px;
      margin: 20px auto; }
    #intro .inputBox .twitter-login {
      width: 230px;
      height: 45px;
      background-position: -274px -53px;
      margin: 20px auto; }

#lets-begin {
  display: none;
  min-height: 470px;
  margin-top: 15px; }
  #lets-begin .inner-container {
    margin: 0px 0 0px 30px;
    position: relative;
    text-align: center; }
  #lets-begin .logo {
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    background-position: 0px -108px;
    margin-top: 20px;
    position: relative;
    left: 15px; }
  #lets-begin .start-welcome {
    text-align: center;
    color: #a60022;
    font-size: 60px;
    line-height: 60px;
    position: relative;
    padding: 25px 0px 0 0px;
    margin: 15px 0px 0 30px;
    overflow: hidden; }
    #lets-begin .start-welcome span {
      font-size: 60px;
      line-height: 60px; }
  #lets-begin .description {
    font-size: 24px;
    line-height: 28px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: relative;
    padding: 0px 30px; }
  #lets-begin a.start-making {
    width: 240px;
    height: 60px;
    background-position: -274px -199px;
    text-align: center;
    margin: 0 auto; }
    #lets-begin a.start-making:hover {
      background-position: -274px -261px; }

#first-up {
  min-height: 680px; }
  #first-up .description {
    font-size: 22px;
    line-height: 24px; }

/* ==|== steps =================================================== */
#step1 {
  background: url("/lookingHOT/images/step1-bg_960.jpg") top center no-repeat;
  min-height: 860px; }

#step2 {
  background: url("/lookingHOT/images/step2-bg_960.jpg") top center no-repeat;
  min-height: 860px; }

#step3 {
  background: url("/lookingHOT/images/step2-bg_960.jpg") top center no-repeat;
  min-height: 860px; }

#step4 {
  background: url("/lookingHOT/images/step4-bg_960.jpg") top center no-repeat;
  min-height: 860px; }

#step5 {
  background: url("/lookingHOT/images/step5-bg_960.jpg") top center no-repeat;
  min-height: 760px;
  background-size: cover; }
  #step5 .lips {
    min-height: 720px; }

.lips {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 850px;
  position: relative;
  margin: 40px 0 0 15px;
  overflow: hidden; }
  .lips .heading {
    width: 205px;
    height: 116px;
    background-position: 0 -329px;
    margin: 20px auto; }
  .lips .description {
    color: white;
    font-weight: 400 !important;
    font-size: 28px;
    padding: 0px 30px !important;
    padding-bottom: 10px !important;
    margin: 0 !important; }
    .lips .description span {
      font-weight: 300;
      font-size: 18px;
      line-height: 18px; }
  .lips a.cart {
    display: inline-block;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 256px;
    height: 256px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    line-height: 21px;
    text-decoration: none;
    position: relative; }
    .lips a.cart.active span.tick {
      display: block;
      width: 80px;
      height: 62px;
      background-position: -537px -199px;
      position: absolute;
      right: 0px;
      top: 0px; }
    .lips a.cart:hover {
      opacity: 0.9;
      filter: alpha(opacity=90); }
  .lips a.balms {
    padding-bottom: 15px; }
    .lips a.balms.active span.tick {
      width: 70px; }
    .lips a.balms span.text {
      margin-top: 147px;
      text-indent: 0px; }
  .lips span.text {
    margin-top: 90px;
    display: block; }
  .lips span.tick {
    display: none; }
  .lips span.tipr {
    display: block;
    width: 25px;
    height: 24px;
    background-position: -274px -335px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    z-index: 1000; }
  .lips a.next {
    display: none;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 70px;
    height: 70px;
    background-position: -572px -109px;
    left: 46%;
    z-index: 1000; }
    .lips a.next:hover {
      background-position: -647px -108px; }
  .lips .tooltip-info {
    font-size: 12px; }
    .lips .tooltip-info span.text {
      display: inline-block;
      margin-top: 0px;
      font-size: 12px; }
    .lips .tooltip-info span.icon {
      position: relative;
      top: 4px;
      display: inline-block;
      height: 16px;
      width: 16px;
      background-position: -523px -352px;
      z-index: 1000; }

a.back {
  display: none;
  position: absolute;
  top: 30px;
  text-align: center;
  width: 70px;
  height: 70px;
  background-position: -424px -109px;
  left: 48%;
  z-index: 1000; }
  a.back:hover {
    background-position: -498px -109px; }

#lipsOne a.cocoa {
  background-position: 0 0; }
  #lipsOne a.cocoa span.tipr {
    background-position: -299px -335px; }
#lipsOne a.mango {
  background-position: -353px 0; }
  #lipsOne a.mango span.tipr {
    background-position: -324px -335px; }
#lipsOne a.shea {
  background-position: -708px 0; }
  #lipsOne a.shea span.tipr {
    background-position: -324px -335px; }
#lipsOne a.coconut {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-position: 0 -840px; }
  #lipsOne a.coconut span.tipr {
    background-position: -349px -335px;
    text-shadow: none; }

#lipsTwo .heading {
  background-position: 0 -448px; }
#lipsTwo a.almond {
  background-position: 0 -289px; }
  #lipsTwo a.almond span.tipr {
    background-position: -374px -335px; }
#lipsTwo a.avocado {
  background-position: -348px -287px; }
  #lipsTwo a.avocado span.tipr {
    background-position: -323px -335px; }
#lipsTwo a.olive {
  background-position: -702px -289px; }
  #lipsTwo a.olive span.tipr {
    background-position: -274px -335px; }

#lipsThree .heading {
  background-position: 0 -568px; }
#lipsThree a.jojoba {
  background-position: 0 -572px; }
  #lipsThree a.jojoba span.tipr {
    background-position: -299px -335px; }
#lipsThree a.rosewater {
  background-position: -352px -565px; }
  #lipsThree a.rosewater span.tipr {
    background-position: -424px -335px; }
#lipsThree a.orange {
  background-position: -702px -573px; }
  #lipsThree a.orange span.tipr {
    background-position: -499px -335px; }

#lipsFour {
  min-height: 950px;
  /* start balms */ }
  #lipsFour .heading {
    background-position: 0 -687px;
    height: 120px; }
  #lipsFour a.coconut {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -250px -367px; }
  #lipsFour a.vanilla {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -430px -367px; }
  #lipsFour a.lemon {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -610px -367px; }
  #lipsFour a.honey {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -790px -367px; }
  #lipsFour a.passionfruit {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -252px -546px; }
  #lipsFour a.orange {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -432px -546px; }
  #lipsFour a.mango {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -612px -546px; }
  #lipsFour a.peach {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -792px -546px; }
  #lipsFour a.strawberry {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -252px -726px; }
  #lipsFour a.watermelon {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -432px -726px; }
  #lipsFour a.raspberry {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -612px -726px; }
  #lipsFour a.bubblegum {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -792px -726px; }
  #lipsFour a.spearmint {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -250px -907px; }
  #lipsFour a.apple {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -430px -907px; }
  #lipsFour a.chocolate {
    display: inline-block;
    width: 177px;
    height: 167px;
    background-position: -612px -907px; }

#lipsFive {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }
  #lipsFive .heading {
    background-position: 0 -811px; }
  #lipsFive .description {
    color: #dd1212;
    padding: 0px !important; }
  #lipsFive .start-welcome {
    padding: 40px 30px 20px 0px; }
  #lipsFive .order {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #5c5c5c;
    font-weight: 300;
    line-height: 30px; }
    #lipsFive .order span {
      font-weight: 700;
      text-indent: 0px;
      width: 150px;
      line-height: 18px;
      color: #5c5c5c; }
    #lipsFive .order span.tipr {
      position: relative;
      left: 0px;
      bottom: 0px;
      display: block;
      height: 24px;
      background-position: -539px -335px;
      z-index: 1000;
      text-align: center;
      margin: 0 auto; }
    #lipsFive .order p.disclaimer {
      font-size: 14px;
      position: relative;
      margin: 10px 30px 15px; }
    #lipsFive .order a {
      text-decoration: none; }
    #lipsFive .order .wax span {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      width: 195px;
      color: #5c5c5c;
      font-weight: 300; }
  #lipsFive .cart-final {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: inline-block;
    font-weight: 700; }
  #lipsFive .qty {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 18px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif; }
  #lipsFive .start-again {
    display: inline-block;
    width: 240px;
    height: 60px;
    background-position: -625px -199px;
    padding-right: 10px;
    margin-top: 10px; }
    #lipsFive .start-again:hover {
      background-position: -624px -261px; }
  #lipsFive .buyNowFinished {
    display: inline-block;
    width: 240px;
    height: 60px;
    background-position: 0 -962px;
    padding-left: 10px;
    margin-top: 10px; }
    #lipsFive .buyNowFinished:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); }

/* ==|== footer =================================================== */
#footer {
  background-color: #79192d;
  background: url("/lookingHOT/images/bg-footer_960.jpg") #79192d top center no-repeat;
  min-height: 550px;
  color: #fbfbfb;
  position: relative;
  display: none; }
  #footer .container,
  #footer .grid,
  #footer .grid__row {
    overflow: visible; }
  #footer .logo-container {
    margin: 0px 0 0px 30px;
    position: relative;
    text-align: center; }
    #footer .logo-container .logo {
      width: 180px;
      height: 180px;
      text-align: center;
      margin: 0 auto;
      background-position: 0px -108px;
      position: relative;
      top: -40px;
      z-index: 2000;
      overflow: visible; }
  #footer .description {
    margin: 0px 0 0px 30px;
    position: relative;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #fbfbfb;
    font-weight: 200;
    font-size: 18px; }
  #footer .social {
    margin: 50px 0 0px 30px;
    position: relative;
    text-align: center; }
  #footer a.social--links {
    display: inline-block;
    width: 71px;
    height: 74px; }
    #footer a.social--links:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  #footer a.facebook {
    background-position: -617px 0; }
  #footer a.twitter {
    background-position: -539px 0;
    margin-left: 10px;
    margin-right: 10px; }
  #footer a.mail {
    background-position: -694px 0; }
  #footer .copyright {
    margin: 10px 0 0px 30px;
    position: relative;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #fbfbfb;
    font-weight: 200;
    font-size: 12px; }
    #footer .copyright a {
      color: #fbfbfb; }
  #footer .top--padding {
    padding-top: 40px; }

/*
Tipr 1.0.1
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/
.tipr_content {
  font: 12px/1.7 "Open Sans", Arial, Helvetica, sans-serif, Helvetica, Arial, sans-serif;
  color: #a60022;
  background-color: #fff;
  color: #a60022;
  padding: 9px 17px;
  text-indent: 0px;
  width: 200px; }

.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000; }

.tipr_container_top {
  display: none;
  position: absolute;
  z-index: 1000;
  bottom: 35px; }

.tipr_point_top, .tipr_point_bottom {
  position: relative;
  background: #fff;
  border: 1px solid #dcdcdc; }

.tipr_point_top:after, .tipr_point_top:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  top: 100%;
  content: "";
  height: 0;
  width: 0; }

.tipr_point_top:after {
  border-top-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }

.tipr_point_top:before {
  border-top-color: #dcdcdc;
  border-width: 9px;
  left: 50%;
  margin-left: -9px; }

.tipr_point_bottom:after, .tipr_point_bottom:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  bottom: 100%;
  content: "";
  height: 0;
  width: 0; }

.tipr_point_bottom:after {
  border-bottom-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }

.tipr_point_bottom:before {
  border-bottom-color: #dcdcdc;
  border-width: 9px;
  left: 50%;
  margin-left: -9px; }

/*! Remodal - v0.1.5 - 2014-05-03
 * https://github.com/VodkaBears/remodal
 * Copyright (c) 2014 VodkaBears; */
/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal_lock, body.remodal_lock {
  overflow: hidden; }

/* Anti FOUC */
.remodal, [data-remodal-id] {
  visibility: hidden; }

/* Overlay necessary styles */
.remodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center; }

.remodal-overlay:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ''; }

/* Fix iPad, iPhone glitches */
.remodal-overlay > * {
  -webkit-transform: translateZ(0px); }

/* Modal dialog necessary styles */
.remodal {
  position: relative;
  display: inline-block; }
  .remodal h1 {
    font-family: DIYTime-Hand;
    font-size: 58px;
    line-height: 62px;
    color: #a60022; }
  .remodal .form-ness {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 240px; }
    .remodal .form-ness span {
      display: block;
      text-align: left; }
    .remodal .form-ness input, .remodal .form-ness textarea {
      display: block;
      border: 2px solid #5c5c5c;
      font-size: 12px;
      padding: 5px 3px; }
    .remodal .form-ness textarea {
      width: 100%; }
    .remodal .form-ness .output {
      color: #dd1212;
      font-size: 11px;
      text-align: left; }
    .remodal .form-ness .output.sent {
      color: #4ad298; }

/* ==========================================================================
   Remodal default theme
   ========================================================================== */
.remodal, .remodal * {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

/* Background for effects */
.remodal-bg {
  -webkit-transition: -webkit-filter 0.2s linear;
  -moz-transition: -moz-filter 0.2s linear;
  -o-transition: -o-filter 0.2s linear;
  transition: filter 0.2s linear; }

body.remodal_active .remodal-bg {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }

/* Overlay default theme styles */
.remodal-overlay {
  opacity: 0;
  background: rgba(74, 210, 152, 0.85);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

body.remodal_active .remodal-overlay {
  opacity: 1; }

/* Modal dialog default theme styles */
.remodal {
  width: 100%;
  min-height: 100%;
  padding: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background: #f4f4f4;
  background-clip: padding-box;
  color: #182a3c;
  -webkit-box-shadow: 0px 0px 8px #171a24;
  box-shadow: 0px 0px 8px #171a24;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear; }

body.remodal_active .remodal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* Modal dialog vertical align  */
.remodal, .remodal-overlay:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Arial;
  width: 28px;
  height: 28px;
  text-decoration: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #3e5368;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear; }

.remodal-close:after {
  display: block;
  font-size: 28px;
  font-family: Arial;
  content: "\0078";
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #3e5368;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.remodal-close:hover, .remodal-close:active {
  background: #3e5368; }

.remodal-close:hover.remodal-close:after, .remodal-close:active.remodal-close:after {
  color: #f4f4f4; }

/* Dialog buttons */
.remodal-submit, .remodal-cancel {
  display: inline-block;
  width: 120px;
  padding: 9px 0;
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.remodal-submit {
  border: 2px solid #16a085;
  background: #f4f4f4;
  color: #16a085; }

.remodal-submit:hover, .remodal-submit:active {
  background: #16a085;
  color: #f4f4f4; }

.remodal-cancel {
  border: 2px solid #c0392b;
  background: #f4f4f4;
  color: #c0392b; }

.remodal-cancel:hover, .remodal-cancel:active {
  background: #c0392b;
  color: #f4f4f4; }

/* ==|== global helpers (needs to be on bottom) ================================================== */
.left {
  float: left; }

.right {
  float: right; }

.overflow {
  overflow: hidden; }

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-width: 320px;
  max-width: 960px;
  z-index: 1; }

.hidden {
  display: none; }

.spacing--top-bottom {
  margin: 0 0 0 30px; }

.spacing--top-bottom-half {
  margin: 20px 0 30px 0px; }

.spacing--left {
  margin: 0 0 0 0; }

.shadow--spacing {
  margin: 0 0 10px 30px; }

.border--right {
  border-right: 0px; }

.border--left {
  border-left: 0px; }

.border--bottom {
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 5px; }

.no--space {
  margin: 0 0 0 30px; }

.no--padding {
  padding: 10px; }

.no--space-left {
  margin: 0 0 0 20px; }

.no--space .no--space {
  margin: 0px; }

.no--space-left .no--space-left {
  margin: 0px; }

.no--min-height {
  min-height: inherit; }

.no-border {
  border: 0px; }

.container--shadow {
  padding: 0px; }

.container__shadow {
  background-color: white;
  box-shadow: 0px; }

.error404 .tiles.banner {
  margin: 0 0 0 30px; }
.error404 .tiles {
  margin: 30px 0 10px 30px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/* animations */
#first-up h1.logo,
#intro h1.logo {
  -webkit-animation-delay: -0.2 0.5s;
  animation-delay: -0.2 0.5s;
  -webkit-animation: hyper 2s infinite;
  animation: hyper 2s infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s; }

#footer h1.logo {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-animation: bobble 5s ease-in-out infinite;
  animation: bobble 5s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s; }

/* animation keyframes */
@-webkit-keyframes bobble {
  33% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }

  66% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@keyframes bobble {
  33% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }

  66% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@-webkit-keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg); }

  75% {
    -webkit-transform: none;
    transform: none; } }

@keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg); }

  75% {
    -webkit-transform: none;
    transform: none; } }

@media (min-width: 480px) {
  .grid__span50 {
    width: 50.00%;
    float: left; }

  .grid__span33 {
    width: 50.00%;
    float: left; }

  .grid__span25 {
    width: 50.00%;
    float: left; }

  body {
    background: url("/lookingHOT/images/bg-768.jpg") top center no-repeat; }

  #intro {
    margin-top: 75px;
    min-height: 660px; }

  #lets-begin {
    margin-top: 65px; }
    #lets-begin .description {
      padding: 0px 60px; }

  #first-up {
    min-height: 580px; }

  #lipsFive .tipr_content {
    width: 320px; }

  .lips a.balms span.text {
    margin-top: 160px; }

  h1 {
    font-size: 35px; }

  .no--space {
    margin: 0 0 0 30px; }

  .no--space-left {
    margin: 0 0 0 10px; }

  .spacing--left {
    margin: 0 0 0 40px; }

  .spacing--top-bottom {
    margin: 30px 0 0 30px; }

  .spacing--top-bottom-half {
    margin: 20px 0 30px 30px; }

  .border--right {
    border-right: 1px solid #5c5c5c; }

  .border--left {
    border-left: 1px solid #5c5c5c; } }
@media (min-width: 768px) {
  .grid__span50 {
    width: 50.00%;
    float: left; }

  .grid__span33 {
    width: 33.33%;
    float: left; }

  body {
    background: url("/lookingHOT/images/bg-960.jpg") top center no-repeat; }

  #intro {
    margin-top: 175px;
    min-height: 740px; }

  #first-up {
    min-height: 780px; }

  #lets-begin {
    margin-top: 115px; }
    #lets-begin .description {
      text-align: center;
      padding: 30px 150px;
      font-size: 28px;
      line-height: 38px; }
    #lets-begin a.start-making {
      margin-top: 50px; }
    #lets-begin .start-welcome {
      font-size: 80px;
      line-height: 85px; }
      #lets-begin .start-welcome span {
        font-size: 80px;
        line-height: 85px; }

  #step1 {
    background: url("/lookingHOT/images/step1-bg.jpg") top center no-repeat;
    background-size: cover; }

  #step2,
  #step3 {
    background: url("/lookingHOT/images/step2-bg.jpg") top center no-repeat;
    background-size: cover; }

  #step4 {
    background: url("/lookingHOT/images/step4-bg.jpg") top center no-repeat; }
    #step4 .description {
      padding: 20px 0 0 0 !important; }

  #step5 {
    background: url("/lookingHOT/images/step5-bg.jpg") top center no-repeat;
    background-size: cover; }

  #lipsFour {
    min-height: 1140px; }

  #lipsFive .tipr_content {
    width: 420px; }

  .lips {
    margin-top: 100px;
    min-height: 700px; }
    .lips a.next {
      display: block; }
    .lips .description {
      padding: 40px 0 !important; }

  a.back {
    display: block; }

  .remodal {
    max-width: 700px;
    margin: 20px auto;
    min-height: 0;
    -webkit-border-radius: 6px;
    border-radius: 6px; }

  #footer {
    background: url("/lookingHOT/images/bg-footer.jpg") #79192d top center no-repeat; }
    #footer .grid__span25 {
      width: 25.00%; }

  .spacing--top-bottom {
    margin: 30px 0 30px 30px; }

  .no--padding {
    padding: 10px; } }
@media (min-width: 960px) {
  /* ==|== grid ============================================================= */
  .grid__span100 {
    width: 100.00%;
    float: left; }

  .grid__span75 {
    width: 75.00%;
    float: left; }

  .grid__span50 {
    width: 50.00%;
    float: left; }

  .grid__span33 {
    width: 33.33%;
    float: left; }
    .ie7 .grid__span33 {
      width: 33.32%; }

  .grid__span25 {
    width: 25.00%;
    float: left; }

  #step4 {
    min-height: 860px; }

  #lipsFour {
    min-height: 950px; }

  /* ==|== global helpers ================================================== */
  body {
    background: url("/lookingHOT/images/bg-1460.jpg") top center no-repeat; }

  body.active {
    background: url("/lookingHOT/images/bg-1460_active.jpg") #4bdb9e top center no-repeat; }

  .container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }

  /* ==|== modules ================================================== */
  .container--shadow {
    padding: 10px 10px 30px 10px; }

  .container__shadow {
    background-color: #f2f3f2;
    box-shadow: 0 0 10px #5c5c5c; }

  .container__shadow-white {
    background-color: white;
    box-shadow: 0 0 10px #5c5c5c; }

  .shadow--spacing {
    margin: 30px 5px 30px 30px;
    box-shadow: 0 0 10px #5c5c5c; } }
@media (min-width: 1460px) {
  body {
    background: url("/lookingHOT/images/bg-1920.jpg") top center no-repeat; }

  body.active {
    background: url("/lookingHOT/images/bg-1920_active.jpg") #4bdb9e top center no-repeat; } }
